{% extends "template.html" %}
{% block conteudo %}

      <form action="/atualizar" method="post">
        <fieldset>
          <input type="hidden" name="id" value="{{produto._id}}">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" value="{{produto._nome}}">
          </div>
          <p></p>
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <select class="form_select" id="categoria" name="categoria">
            {% for categoria in categorias %}
              {%if produto.categoria_id==categoria._id %}
                <option value="{{categoria._id}}" selected>{{ categoria._nome }}</option>
              {% else %}
                <option value="{{categoria._id}}" >{{ categoria._nome }}</option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
          <p></p>
          <div class="form-group">
            <label for="fornecedor">Fornecedor</label>
            <select class="form_select" id="fornecedor" name="fornecedor">
            {% for fornecedor in fornecedores %}
                <option value="{{fornecedor._id}}">{{ fornecedor._nome }}</option>
            {% endfor %}
            </select>
          </div>
          <p></p>
          <div class="form-group">
            <label for="quantidade">Quantidade</label>
            <input type="text" id="quantidade" name="quantidade" class="form-control" value="{{produto._quantidade}}">
          </div>
          <p></p>
          <button type="submit" class="btn btn-success btn-salvar"> ✓ Editar</button>
          <a class="btn btn-danger" href="{{url_for('lista_produtos')}}"> <- Voltar</a>
        </fieldset>
      </form>
{%endblock %}
